#contacts
  .container   
    h2 
      a(name="contacts")
      | Контактная информация и стоимость
    p Для расчета стоимости ПО 
      a(href="mailto:damirov@list.ru") напишите нам
    p ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ВИТАКОР КОНСАЛТИНГ»
    p г. Казань, ул. Заслонова, д. 17, ПОМ 29, 33 
    p  ОГРН 1131690089101 ИНН 1655282975 КПП 165501001

    p.icons
      a(href="mailto:damirov@list.ru")
        img(src="img/cons/mail.svg") 