#subhead
  a(name="about") 
  .container
    div
      img(src="./img/cons/i1.svg")

    div 
      p ЭДО ОМС - решение для организации юридически значимого документооборота в сфере обязательного медицинского страхования.


