#top-nav
  .container
    img.top-nav-logo(src="/img/cons/logo.svg" width="44" height="44" alt="")
    nav
      a(href="#about") Что такое ЭДО ОМС?
      a(href="#works") Возможности программы
      a(href="#contacts") Контактная информация


