mixin w-li(img_src, txt)
  li
    img(src= img_src)
    p= txt

a(name="works") 
#works
  .container   
    h2 Возможности программы
    p ЭДО ОМС упрощает работу с документами как внутри организации, так и при взаимодействии с внешними контрагентами. Решение помогает организовать создание, передачу, согласование и утверждение документов, подписанных электронной подписью.

    ul
      +w-li("./img/works/pic4.svg", "Создание карточки документа")
      +w-li("./img/works/pic2.svg", "Прохождение документа по маршруту, подписание документа КЭП сторон")
      +w-li("./img/works/pic3.svg", "Выгрузка исходного документа и подписей сторон к нему")
      +w-li("./img/works/pic1.svg", "Управление учетными данными пользователей")


